@import url(https://fonts.bunny.net/css?family=abril-fatface:400|anaheim:400|fredericka-the-great:400);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Anaheim', sans-serif;
    font-size: 16px;
}

:root {
    --dark-red: #A4402A;
    --red: #BC4E50;
    --orange: #B66B35;
    --dark-beige: #D6A88C;
    --beige: #E8C7B2;
    --dark-green: #4E6543;
    --green: #718E66;
    --light-green: #ADBB9F;
    --light-gray: #EEECE5;
}

body {
    background: url(./img/pexels-element5-1470170.jpg) top left/cover no-repeat fixed;
    width: 100%;
    min-height: 100vh;
    padding: 3.5vw 0;
    display: grid;
    grid-template-columns: minmax(0px, 57vw) minmax(20rem, auto) minmax(0px, 10vw);

    box-shadow:
    inset var(--dark-beige) -6.5vw 0,
    inset var(--red) -13vw 0, 
    inset var(--beige) -19.5vw 0, 
    inset var(--dark-red) -26vw 0, 
    inset var(--orange) -32.5vw 0,
    inset var(--light-green) -39vw 0,
    inset var(--dark-green) -45.5vw 0;
}

div.app {
    height: 100%;
    background-image: url(./img/notebook.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-column-start: 2;
    padding: 2vw 2vw 3vw 5vw;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

header h1 {
    font-family: 'Fredericka the Great', display;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

main {
    padding-top: 1.5rem;

    li {
        min-width: 100%;
        max-width: 26vw;
        overflow-wrap: break-word;
        list-style: none;
        cursor: pointer;
        padding: 0.25rem 0 0.25rem 2rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.7s ease;

        &::before {
            content: '☐';
            position: absolute;
            left: 0;
        }

        button {
            background: none;
            cursor: pointer;
            margin: 0 0.5rem;

            i {
                color: var(--red);
            }            
        } 
    }

    li.checked {
        text-decoration: line-through;
        color: var(--orange);

        &::before {
            content: '☑';
        }
    }
}

footer {
    div {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0.75rem 1.5rem;

        button {
            background: none;
            border: 1px solid;
            border-radius: 0.25rem;
            padding: 0 0.5rem;
            cursor: pointer;

            &:hover {
                background: var(--dark-red);
                border: 1px solid var(--dark-red);
                color: white;
            }
        }
    }

    form {
        display: flex;
        flex-wrap: nowrap;
        background-color: var(--light-gray);
        border-radius: 0.5rem;


        input {
            width: 100%;
            font-size: 1rem;
            padding: 0.5rem;
            background: transparent;
            outline: none;
        }

        button {
            padding: 0.5rem;
            border-radius: 0.5rem;
            background: var(--orange);
            cursor: pointer;

            i {
                font-size: 1.5rem;
                color: var(--light-gray);
            }

            &:hover {
                background: var(--dark-green);
            }
        }
    }
}

@media screen and (max-width: 900px) {
    div.app {
        padding: 2rem 1.5rem 2rem 6.5vw;
    }
}

@media screen and (max-width: 800px) {
    div.app {
        padding: 2rem 1.5rem 2rem 7vw;
    }
}

@media screen and (max-width: 700px) {
    div.app {
        padding: 2rem 1.5rem 2rem 8vw;
    }
}

@media screen and (max-width: 650px) {
    div.app {
        padding: 2rem 1.5rem 2rem 9vw;
    }
}

@media screen and (max-width: 600px) {
    div.app {
        padding: 2rem 1.5rem 2rem 10vw;
    }
}

@media screen and (max-width: 550px) {
    div.app {
        padding: 2rem 1.5rem 2rem 11vw;
    }
}

@media screen and (max-width: 500px) {
    div.app {
        padding: 2rem 1.5rem 2rem 12vw;
    }
}

@media screen and (max-width: 400px) {
    div.app {
        padding: 2rem 1.5rem 2rem 14vw;
    }
}

@media screen and (max-width: 350px) {
    div.app {
        padding: 2rem 1.5rem 2rem 15vw;
    }
}